/************************************************
  CSS Variables
************************************************/
:root {
  --c-primary: #ef5350;
  --c-primary--dark: #c83432;
  --c-secondary: #fcd64d;
  --c-accent: #1c88cc;
  --c-accent--dark: #117dc0;
  --c-white: #fff;
  --c-text: #263238;
  --c-grey--light: #efefef;
  --c-grey: #dfdede;
  --c-grey--dark: #a8a8a8;
  --m-gutter: 1rem;
  --f-ranchers: 'Ranchers', cursive;
  --f-roboto: 'Roboto', sans-serif;
  --transition-speed: 300ms;
}



/************************************************
  Resets
************************************************/
html {
  font-size: 15px;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--f-roboto);
  color: var(--c-text);
}

p {
  line-height: 1.5;
}

a {
  color: var(--c-accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  border: 0;
  cursor: pointer;
}



/************************************************
  General Layout
************************************************/
.site-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.site-wrapper main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.section {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}



/************************************************
  Header
************************************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--c-primary);
}

.header__logo {
  font-size: 2rem;
  font-family: var(--f-ranchers);
  color: var(--c-secondary);
  -webkit-text-fill-color: var(--c-secondary);
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--c-accent);
  transform: rotate(-2deg) skew(1deg, 1deg);
}

.header__logo:hover {
  text-decoration: none;
}

.header__nav {
  display: flex;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--c-white);
}

.header__nav a {
  display: block;
  color: var(--c-white);
}



/************************************************
  Utilities: Buttons
************************************************/
.btn {
  display: inline-block;
  padding: 1rem;
  border-radius: 2px;
  font-size: 1rem;
  line-height: 1;
  text-transform: capitalize;
  color: var(--c-white);
  background-color: var(--c-accent);
  transition: background-color 300ms;
}

.btn:hover {
  background-color: var(--c-accent--dark);
}



/************************************************
  Search
************************************************/
.section--search {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 0;
}

.search-heading {
  margin: 0 0 1rem;
}

.search-form {
  margin-bottom: 1rem;
  transition: border-color var(--transition-speed);
}

.search-form input {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 1rem;
  border: none;
  font-size: 1rem;
  border: 2px solid var(--c-grey);
  border-radius: 2px;
}

.search-form input:focus {
  border-color: var(--c-accent);
}

.search-form input:focus {
  outline: none;
}

.search-form__submit {
  display: block;
  margin-right: 0.4rem;
  width: 100%;
}



/* Pokemon Wrapper */
.pokemon-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 1rem;
  border: 2px solid var(--c-grey);
  border-radius: 2px;
  transition: border-color var(--transition-speed);
}

.error-message {
  text-align: center;
  color: var(--c-grey--dark);
  font-weight: bold;
  font-size: 0.9rem;
}

.error-message em {
  color: var(--c-text);
}



/************************************************
  Pokemon Detail
************************************************/
.poke-detail {
  width: 100%;
  max-width: 10rem;
  margin: 0 auto;
}

.poke-detail__image {
  position: relative;
  width: 100%;
  padding: 1rem;
  border-radius: 4px;
  background-color: var(--c-grey--light);
}

.poke-detail__image img {
  width: 100%;
}

.poke-detail__number {
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(34.1deg) translate(25%, -25%);
  width: 60px;
  padding: 0.25rem 1rem;
  border-radius: 2px;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
  color: var(--c-text);
  background: var(--c-secondary);
}

.poke-detail__name {
  margin: 0.5rem 0;
  font-size: 1.25rem;
  text-transform: capitalize;
}

.poke-detail__types {
  display: flex;
}

.poke-detail__types .type {
  width: 5rem;
  padding: 4px;
  border-radius: 2px;
  text-transform: capitalize;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1;
  color: var(--c-white);
  background: var(--c-primary--dark);
}

.poke-detail__types>*+* {
  margin-left: 5px;
}



/************************************************
  Pokemon Detail: Tablet/Desktop
************************************************/
@media screen and (min-width: 600px) {
  .poke-detail {
    max-width: 20rem;
  }

  .poke-detail__number {
    width: 100px;
    padding: 0.5rem 1.25rem;
    font-size: 1.25rem;
  }

  .poke-detail__name {
    margin: 1rem 0;
    font-size: 2rem;
  }

  .poke-detail__types .type {
    width: 8rem;
    padding: 8px;
    font-size: 1.25rem;
  }
}



/************************************************
  Footer
************************************************/
footer p {
  margin: 0;
}



/************************************************
  Pokeball Loading Icon
************************************************/
.pokeball {
  --translate: translate(-50%, -50%);
  --rotateFrom: rotate(0deg);
  --rotateTo: rotate(360deg);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 3px solid var(--c-text);
  transform: var(--translate) var(--rotateFrom);
  overflow: hidden;
  animation: 3s linear infinite rotatePokeball;
}

.pokeball::before {
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: var(--c-primary);
  content: '';
}

.pokeball__center-border {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--c-text);
  transform: translateY(-50%);
}

.pokeball__center-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--c-text);
  border-radius: 50%;
  background-color: var(--c-white);
  transform: translate(-50%, -50%);
}

@keyframes rotatePokeball {
  from {
    transform: var(--translate) var(--rotateFrom);
  }

  to {
    transform: var(--translate) var(--rotateTo);
  }
}
